body {
    background-color: yellow;
}

html {
  scroll-behavior: smooth;
}

.center {
   text-align: center;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.navbar {
  display: align;
}
